# Ignore all .pyc files
*.pyc

# Ignore specific folders
workdir/
datasets/

# Ignore __pycache__ directories
__pycache__/

# Ignore all .sh files
*.sh

# Ignore all data files
*.csv
*.parquet
# Ignore all .html files
*.html